<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css">
<style scoped>
@media (min-width: 300px) { /* or 301 if you want really the same as previously.  */
    #radarCahrt{   
        width: 20em;
        height: 20em;
    }
}
</style>
</head>

<body class="d-flex flex-column vh-100" style="background-color: rgb(250, 250, 250);">

        <main class="container mt-3 pt-3 mb-5 pb-5">
            <div class="row">
                <h1 class="text-center mb-4">Results</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div style="width:40em;height:40em;" id="radarChart"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4 my-3">

                <% for(let i = 0; i<results["cats"].length-1; i++){ %>

                        <div class="col">
                            <% if (parseInt(results[results["cats"][i]])<40) { %>
                            <div class="card border-danger h-100">
                            <div class="card-body text-danger">
                            <% }else if(39<parseInt(results[results["cats"][i]])<90) { %>
                            <div class="card border-primary h-100">
                            <div class="card-body text-primary">
                            <% }else{ %> 
                            <div class="card border-success h-100">
                            <div class="card-body text-success">
                            <% } %> 
                                <div class="card-header d-flex justify-content-center">
                                    <h3><%= results["cats"][i] %> </h3>
                                </div>
                                <div class="card-title d-flex justify-content-around pt-2">
                                    <h3><%= results[results["cats"][i]] %> % </h3>
                                </div>
                                <% if (parseInt(results[results["cats"][i]])<40) { %>
                                <p class="card-text text-dark"> <%= results["tips"][i]["red"] %> </p>
                                <% }else{ %> 
                                <p class="card-text text-dark"> <%= results["tips"][i]["blue"] %> </p>
                                <% } %> 
                            </div>
                            </div>
                        </div>

                <% } %>

            </div>
                        <div class="d-flex justify-content-center mb-5">
                            <% if (parseInt(results[results["cats"][results["cats"].length - 1]])<40) { %>
                            <div class="card border-danger h-100">
                            <div class="card-body text-danger">
                            <% }else if(39<parseInt(results[results["cats"][results["cats"].length - 1]])<90) { %>
                            <div class="card border-primary h-100">
                            <div class="card-body text-primary">
                            <% }else{ %> 
                            <div class="card border-success h-100">
                            <div class="card-body text-success">
                            <% } %> 
                                <div class="card-header d-flex justify-content-around">
                                    <h3><%= results["cats"][results["cats"].length-1] %> </h3>
                                </div>
                                <div class="card-title d-flex justify-content-around">
                                    <h3><%= results[results["cats"][[results["cats"].length-1]]] %> % </h3>
                                </div>
                                <% if (parseInt(results[results["cats"][results["cats"].length-1]])<40) { %>
                                <p class="card-text text-dark"> <%= results["tips"][results["tips"].length-1]["red"] %> </p>
                                <% }else{ %> 
                                <p class="card-text text-dark"> <%= results["tips"][results["tips"].length-1]["blue"] %> </p>
                                <% } %> 
                            </div>
                            </div>
                        </div>
                        <h3 class="text-center mt-3">Ready to take action? Schedule a meeting today!</h3>
                        <!-- Calendly inline widget begin -->
                        <div class="calendly-inline-widget" data-url="https://calendly.com/fortitudecoach/tactical-fortitude-call" style="min-width:320px;height:630px;"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                        <!-- Calendly inline widget end -->
        </main>



            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <script src="https://d3js.org/d3.v6.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/" crossorigin="anonymous"></script>
            <script>
                var chart = bb.generate({
                data: {
                    x: "x",
                    columns: [
                    ["x", "Strength", "Cardio","Stress",  "MentalHealth", "Mindset", "Pain",  "Nutrition"],
                    ["Your Score", <%- results["Strength"] %>, <%-results["Cardio"] %>,  <%-results["Stress"] %>,   <%-results["MentalHealth"] %>, <%-results["Mindset"] %>,<%-results["Pain"] %>,   <%-results["Nutrition"] %>],
                    // ["Sumo Wrestler", 100, 10, 69, 68, 80, 40, 15],
                    // ["Marathon Runner", 50, 100, 55, 68, 90, 30, 75]
                    ],
                    type: "radar", // for ESM specify as: radar()
                    labels: true
                },
                radar: {
                    axis: {
                    max: 100
                    },
                    level: {
                    depth: 4
                    },
                    direction: {
                    clockwise: true
                    }
                },
                bindto: "#radarChart"
                });
            </script>
</body>

</html>
